#container-navbar {
    background: rgb(128, 128, 128, 0.7);
    color: black;

    height: 60px;
}

.nav-link {
    color: rgb(5, 5, 70);
}

.nav-link:hover {
    color: white;
}

.fonte-home img {
    width: 120px;
}

.imagem-carrossel {
    object-fit: cover;
    object-position: 0 10% ;
    height: 750px;
}
.fonte-home{
font-family: 'Goldman', cursive;
font-size: 35px;
color: rgb(5, 5, 70);

}

body {
    background: url(../img/background.jpeg);
}

h1 {
    color:#3e464c;
    font-size: 38px;
    font-family: 'Anton';
    text-transform: uppercase;
}
.cardLargura{
   max-width: 18rem;
}
.cards{
    object-position: 0 80%;
    object-fit: cover;
    height: 350px;

}

h2{
    color: rgb(5, 5, 71);
    font-size: 30px;
    font-family: 'anton';
    text-transform: uppercase;
}
.bordaEspecial{
    border-color: blue;
    border: inset;

}
footer{
    background-color: rgb(41, 39, 39);

}
.rodape{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(3, 3, 180);
}



@media (max-width: 650px) { 
    
    h1 {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    }

    .menu {
        align-items: center ;
    }

    
    .corpo{
    justify-content: center;
    width: 90%;
    }

    .cartaz{
    width: 100%;
    }

}
@media (max-width: 400px) { 
    
    h1 {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    }

    .menu {
        align-items: center ;
    }
   
    .corpo{
    justify-content: center;
    width: 90%;
    }

    .cartaz{
    width: 100%;
}
}

/* Mudanças Anderson */
/* BACKGROUND */
.fundo-externo {
    overflow: hidden; /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%;
    height: 100%;
    position: relative; /* criamos um contexto para posicionamento */
}

.fundo-tela {
    position: fixed; /* posição fixa para que a possível rolagem da tela não revele espaços em branco */
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.fundo-tela img {
    width: 100%;
    height: 100%;

    position: absolute;
}

footer {
    position:absolute;
    width:100%;

    margin-top: 60px;

    background: rgba( 128, 128, 128, 0.7);
}

footer img {
    margin: 5px;
}