* {
    margin: 0;

    color: var(--branco);
}

:root {
    --azul: rgb(5, 5, 70);
    --azul-opacity: rgb(5, 5, 70, 0.7);
    --cinza:  rgb(128, 128, 128);
    --cinza-opacity: rgb(128, 128, 128, 0.7);
    --branco: white;
    --preto: black;
}